body {
 /*font-family: 'Indie Flower', cursive;*/
 /*font-family: 'Dancing Script', cursive;*/
 font-family: 'Times', cursive;
 /*font-family: 'Great Vibes', cursive;*/

 /*background: linear-gradient(90deg, rgb(200, 200, 200), rgb(69, 71, 74));
 opacity:0.5;*/

 background-image:url("pic.jpg");
 background-position: bottom right;
 background-size: cover;
 background-repeat:no-repeat;
 width: 90%;
 margin:auto;
}

p{
 font-size:15px;
 color:#696969;
}
blockquote{
 font-family : 'Times', cursive;
 font-size:22px;
}
.cit{
 font-size:28,8px;
 margin:auto;
 padding: 30px 30px 80px 80px;
}
.gens{
 font-style:times;
 border-left:3px solid green;
 background:rgba(50,50,50,0.3);
}
.fermier{
 font-style:times;
 border-left:3px solid red;
 background:rgba(122,18,50,0.3);
}
.Good{
 color:#00008B;
font-style:bold;
text-shadow:1px 0px 0px #000;
}
.Bad{
 color:#8470FF;
 font-style:bold;
}


table, th{
 border: 2px solid black;
}
.pied{
 font-size:10px;
 font-style:italic;
 background-color:#66CDAA;
 color : #BA55D3;
} 

