body {

 background-position: bottom right;
 background-size: cover;
 background-repeat:no-repeat;
 width: 90%;
 margin:auto;
}

p{
	font-family: 'Open Sans',sans-serif;
 font-size:15px;
 color:#696969;
}
blockquote{
 font-family : italic;
 font-size:22px;
}
cite{
	font-family:italic;
	font-size:15px;
}
header{
background-Color : #FFFF00
}

.villageois{
 font-style:times;
 border-left:3px solid green;
 background:rgba(50,60,50,0.3);
}
.fermier{
 font-style:times;
 border-left:3px solid red;
 background:rgba(60,50,50,0.5);
}
.Good{
 color:#008000;
font-style:bold;
text-shadow:1px 0px 0px #000;
}
.Bad{
 color:#FF0000;
 font-style:bold;
}


table{
 border: 4px solid black;
 text-align:center;
}

td{
	font-size: 80%;
	border:2px solid black;
	text-align:center;
}

th{
	font-size: 80%;
	border: 2px solid black;
	text-align:center;
}
.pied{
 font-size:10px;
 font-style:italic;
 background-color:#66CDAA;
 color : #BA55D3;
} 
img{
	padding-right:top;
}

.flotte{
	float:left;
	width:450px;
	height:350px;
}
